.light {
    --text-primary: #000;
    --text-secondary: #fff;
    --text-highlight: #64748b;
    --background-primary: #e2e2e2;
    --background-secondary: #15803d;
    --background-tertiary: #f7fee7;
    --background-highlight: #a3e635;
}

@font-face {
    font-family: "Noto Sans";
    src: local("Noto Sans"), url(fonts/NotoSansJP-Regular.otf) format("opentype");
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--background-primary);
    color: var(--text-primary);
    font-family: "Noto Sans";
    display: grid;
    grid-template-columns: 1fr 3fr minmax(350px, 1fr);
}

.profile-pic {
    border-radius: 50%;
}

.header {
    background-color: var(--background-tertiary);
    min-height: 100px;
    padding: 30px;

    grid-column: 2 / -1;
    display: grid;
    grid-template-columns: 3fr 2fr;
    row-gap: 20px;
}

.header .input-container {
    display: flex;
    align-items: center;
}

.input-container img {
    margin-right: 10px;
    vertical-align: bottom;
}

.input-container #search-bar {
    appearance: none;
    background-color: var(--background-primary);
    border-radius: 5px;
    font-size: 1.5rem;
    height: 40px;
    padding: 0 10px;
    width: 100%;
    max-width: 600px;
}

.header :is(.top-right, .btn-container) {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 30px;
}

.header .bottom-left {
    font-weight: bold;

    display: flex;
    align-items: center;
    column-gap: 20px;
}

.header .bottom-left .username {
    font-size: 1.5rem;
}

.btn-container button {
    appearance: none;
    background-color: var(--background-secondary);
    border-radius: 5px;
    color: var(--text-secondary);
    font-size: 1.25rem;
    font-weight: bold;
    padding: 10px;
    width: 100px;
}

.btn-container button:hover {
    background-color: var(--background-highlight);
    color: var(--text-highlight);
}

.nav {
    background-color: var(--background-secondary);
    color: var(--text-secondary);
    font-size: 1.75rem;
    font-weight: bold;
    padding: 50px;
    
    grid-column: 1;
    grid-row: 1 / span 2;

    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

.logo-container {
    position: relative;
    right: 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 10px;
}

.btn-row {
    display: flex;
}

.btn-row .icon-wrapper {
    margin-right: 15px;
    vertical-align: top;
}

.content-container {
    background-color: var(--background-primary);
    padding: 20px 15px;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-auto-rows: 300px;
}

.card {
    box-sizing: border-box;
    background-color: var(--background-tertiary);
    border-left: 10px solid var(--text-highlight);
    padding: 50px;
    margin: 20px;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content 1fr;
}

.card .btn-container {
    align-self: flex-end;
    justify-self: flex-end;
}

.side-container {
    font-size: 0.8rem;
    padding: 30px;
    
    grid-column: 3;
    grid-row: 2;
}

.announce-container {
    background-color: var(--background-tertiary);
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 40px;
}

.announce-container .row:not(:last-child) {
    border-bottom: 1px solid #808080;
    padding-bottom: 15px;
    margin-bottom: 10px;
}

.trends-container {
    background-color: var(--background-tertiary);
    margin-top: 10px;
}

.trends-container .row {
    padding: 20px;

    display: flex;
    align-items: center;
    column-gap: 20px;
}

.user-wrapper .username {
    font-size: 1.2rem;
    font-weight: bold;
}

